h1 {color:rgb(64, 143, 64);
    background-color: rgb(255, 176, 202);}
#fancyfont {font-family: "Brush Script MT", cursive;}
ul li:hover {background-color: rgb(255, 176, 202);}
#homebutton {background-color: peru;}
table, th, td {
    border: 1px solid black;
}




